.app-container {
  .header-container {
    background: #ff7800;
    color: #ffffff;
  }

  .main-container {
    .tag-name {
      background: #d1d1ba;
      padding:2px 10px;
      margin-right: 5px;
    }

    .filter-area-container {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      
      .from-input {
        min-width: 250px;
      }

      .order-by-dropdown-container {
        margin-left: 20px;
      }

      .tag-input-additional-description {
        font-style: italic;
        margin-top: 10px;
      }
    }

    .gallery-list-item {
      border: 1px solid #f0f0f0;
      padding: 5px;
      margin: 5px;
      overflow: hidden;
      min-height: 400px;
      
      .image-container {
        text-align: center;
        margin-bottom: 10px;
      }

      .metadata-details {
        list-style: none;
      }
      
      .image-save {
        text-align: center;
      }
    }

    .loading-container {
      text-align: center;
      font-size: 24px;
      padding:20px;
    }
  }
}